@font-face {
    font-family: 'Slabo';
    src: url('../fonts/slabo-webfont.woff2') format('woff2'),
         url('../slabo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Opensans';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Opensans-Bold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
